body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }

    .gm {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
  }
  
    .imgg {
      width: 230px;
      padding: 20px;
      transition: transform 0.5s ease;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 900px;
      height: auto;
      border: 2px solid rgb(0, 0, 0);
      box-sizing: border-box;
      box-shadow: 0 4px 8px rgb(0, 0, 0);
      border-radius: 30px;
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
    }    
  
    /* .imgg:hover {
      /* transform: scale(1.1); 
    } */

    .image-caption {
      text-align: center;
    }

